# Visual Studio files
.vs/
*.obj
*.pdb
*.tlog
*.lastbuildstate
*.idb
*.ilk
*.iobj
*.ipdb
*.log
*.VC.db
*.VC.opendb

# Build output directories
x64/
x86/
bin/
Debug/
Release/
ReleaseFiles/

# User-specific files
*.vcxproj.user
*.suo
*.png
